<div class="row">
  <div class="col-6">
    <h2 style="text-align:center;">Authors</h2>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let author of authors">
          <td> {{author.id}} </td>
          <td> {{author.name}} </td>
          <td (click)="onSelect(author)"><i class="fa fa-edit"></i> </td>
          <td (click)="deleteAuthor(author)">
            <i class="fa fa-trash icon-large"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4" *ngIf="selectedAuthor">
    <div class="form-group" style="display:none;">
      <input type="hidden" class="form-control" id="authorId" required [(ngModel)]="selectedAuthor.id" name="authorId"
        #viewName="ngModel">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="authorName" required [(ngModel)]="selectedAuthor.name"
        name="authorName" #viewName="ngModel">
    </div>
    <button class="btn btn-sm btn-outline-success" (click)="updateAuthor()">Update</button>
  </div>
</div>

<button class="btn btn-sm btn-outline-primary" (click)="showCreateDialog(authorModal)">Create author</button>

<ng-template #authorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a new author</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <div class="mb-3">
        <label for="authorName">Name</label>
        <div class="input-group">
          <input id="authorName" class="form-control">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createAuthor()">Save</button>
  </div>
</ng-template>