<div class="row">
  <div class="col-6">
    <h2 style="text-align:center;">Genres</h2>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let genre of genres">
          <td> {{genre.id}} </td>
          <td> {{genre.name}} </td>
          <td (click)="onSelect(genre)"><i class="fa fa-edit"></i> </td>
          <td (click)="deleteGenre(genre)">
            <i class="fa fa-trash icon-large"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4" *ngIf="selectedGenre">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="genreName" required [(ngModel)]="selectedGenre.name" #viewName="ngModel">
    </div>
    <button class="btn btn-sm btn-outline-success" (click)="updateGenre()">Update</button>
  </div>
</div>

<button class="btn btn-sm btn-outline-primary" (click)="showCreateDialog(genreModal)">Create genre</button>

<ng-template #genreModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create a new genre</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <div class="mb-3">
        <label for="genreName">Name</label>
        <div class="input-group">
          <input id="genreName" class="form-control">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createGenre()">Save</button>
  </div>
</ng-template>